<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (title)">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title th:text="${title}"></title>

<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<script src="webjars/jquery/1.11.1/jquery.min.js"></script>

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../static/css/main.css" />
</head>
<body>
	<div th:fragment="navbar" class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Shop</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/}"><span
							class="glyphicon glyphicon-home"></span>Home</a></li>
				    <li><a th:href="@{/cart}">
						<span	class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
					<li><a th:href="@{/registration}"
						th:if="${#request.userPrincipal == null}"><span
							class="glyphicon glyphicon-user"></span>Registration</a></li>
					<li><a th:href="@{/login}"
						th:if="${#request.userPrincipal == null}"><span
							class="glyphicon glyphicon-log-in"></span> Log In</a></li>
					<li><a th:href="@{/about}"
						th:if="${#request.userPrincipal != null}"><span
							class="glyphicon glyphicon-search"></span> About Location</a></li>
					<li><a th:href="@{/orders}"
						th:if="${#request.userPrincipal != null}"><span
							class="glyphicon glyphicon-th-list"></span> Orders</a></li>
				    	<li><a th:href="@{/logout}"
						th:if="${#request.userPrincipal != null}"><span
							class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
					
				</ul>
			</div>
		</nav>
	</div>
	
	


	<div th:fragment="footer" class="footer">
    <hr/>
    <div class="container">
        <div class="col-sm-12 text-center">
		<p class="text-center" style="color:black">
		<a href="https://www.facebook.com/"> <img border="0" class="img-responsive pull-left" alt="No site found" src="images/facebook.png"> </a>
			&copy; 2020 <span th:if="${#request.userPrincipal != null}"> |
				Logged as user: <span style="color:black" th:text="${#request.userPrincipal.name}" ></span>
				<a style="color:white" th:href="@{/logout}">Log Out</a>
			</span>
		
			<a href="https://www.instagram.com/?hl=en"> <img border="0" class="img-responsive pull-right" alt="No site found" src="images/instagram.png"> </a>
		</p>
	</div>
	</div>
	</div>

	<script type="text/javascript"
		src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<div th:fragment="orderStepHeader (step)" class="step-line-wrapper">
		<ul>
			<li
				th:class="${step} == 1 ? 'active' : (${step} > 1 ? 'passed' : null)">
				<span class="circle">1</span> <span class="label">Products</span>
			</li>
			<li
				th:class="${step} == 2 ? 'active' : (${step} > 2 ? 'passed' : null)">
				<span class="circle">2</span> <span class="label">Contact
					Information</span>
			</li>
			<li
				th:class="${step} == 3 ? 'active' : (${step} > 3 ? 'passed' : null)">
				<span class="circle">3</span> <span class="label">Payment</span>
			</li>
			<li
				th:class="${step} == 4 ? 'active' : (${step} > 4 ? 'passed' : null)">
				<span class="circle">4</span> <span class="label">Finalize</span>
			</li>
		</ul>
	</div>

	<div th:fragment="cart" class="panel panel-default">
		<div class="panel-body">
			<div class="title">Cart content</div>

			<table class="table">
				<tr>
					<th></th>
					<th>Product Name</th>
					<th>Product Price</th>
					<th>Ammount</th>
					<th>Total Price</th>
				</tr>
				<tr th:each="item : ${@cartContainer.cartItems}">
					<td th:text="${item.product.name}"></td>
					<td th:text="${item.product.price}"></td>
					<td th:text="${item.amount}"></td>
					<td
						th:text="${@cartContainer.getProductTotalPrice(item.product.id)}"></td>
				</tr>

				<tr></tr>
				<tr>
					<td>TOTAL:</td>
					<td></td>
					<td></td>
					<td th:text="${@cartContainer.totalPrice}"></td>
				</tr>
			</table>
		</div>
	</div>

	<div th:fragment="cartDelivery" class="panel panel-default">
		<div class="panel-body">
			<div class="title">Method of receiving goods</div>
			<div th:if="${@cartContainer.cart.deliveryAddress == null}">Pickup
				from the store</div>
			<div th:if="${@cartContainer.cart.deliveryAddress != null}">
				Delivery to:<span th:text="${@cartContainer.cart.deliveryAddress}"></span>
			</div>
		</div>
	</div>

</body>
</html>