<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<head th:replace="fragments :: head(title='Online Shop')"></head>


<body >
	<div th:replace="fragments :: navbar"></div>
	
	<div id="pictureCarousel" class="carousel slide" data-ride="carousel" data-interval="10000" data-pause="null" style="width:100%;height:auto;margin:auto;background-size:contain;display: block;background-color:#add8e6;">
    <ol class="carousel-indicators">
        <li data-target="#pictureCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#pictureCarousel" data-slide-to="1"></li>
        <li data-target="#pictureCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="active item">
		 <header class="row text-center">
            <h1>Online Shop</h1>
        </header>
       <img class="img-responsive center-block" src="images/Adidas.jpg" alt="NotFound"> 
            <div class="carousel-caption"></div> 
        </div>

        <div class="item">
         <header class="row text-center">
            <h1>Online Shop</h1>
        </header>
            <img class="img-responsive center-block" src="images/Puma.jpg"alt="NotFound"></img> 
            <div class="carousel-caption"></div>
           
        </div>

        <div class="item">
         <header class="row text-center">
            <h1>Online Shop</h1>
        </header>
           <img class="img-responsive center-block" src="images/NikeOne.jpg" alt="NotFound"></img>  
        </div>
    </div>

    <a class="left carousel-control" href="#pictureCarousel" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#pictureCarousel" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

 <div sec:authorize="isAuthenticated()">
<form th:action="@{/showProduct}" method="get" style="float: right">
<input id="txtSearch" type="text" name="keyword"  > 
<button type="submit" style="float: right">Search</button>
</form>
</div>


  <button type="button" class="btn btn-info btn-lg" id="myBtn">
          <span class="glyphicon glyphicon-export"></span> IMPORTANT INFO
        </button>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
   <p>In Order To Unlock Full Features, To See Product Info, Search for Products, Shop For Products We Recomend You To Register , To Learn About Our Locatons!!!!!</p>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
    
    <div class="container">
        <hr>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature" th:each="product : ${page.content}">
                <div class="thumbnail">
                    <img th:src="@{'/images/'+${product.name}+'.jpg'}" height="90" width="90"/>
                    <div class="caption">
                        <h3 th:text="${product.name}"></h3>
                        <p th:text="${product.price}+ ' EUR / One Pair'"></p>
                        <div sec:authorize="isAuthenticated()">
   <a href="#" class="btn btn-primary" th:href="@{'/cart/add/' + ${product.id}}  ">Add Product To Cart</a>
       <a href="#" class="btn btn-default" th:href="@{/productDetail(product_id=${product.id})}">More Info</a>
   
   
             </div>
             </div>
                </div>
            </div>
        </div>
   <div class="pagination-centered">
		 <ul class="pagination">
    <li th:class="${page.hasPrevious()}">
        <a class="pageLink" th:href="@{/(page=${page.number-1},size=${page.size})}">Previous</a>
    </li>
    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
      
         <li ><span th:if="${page.number == i}" class="selected" >[[${i}+1]]</span> </li>
       
        <li th:unless="${page.number == i}">
           <a class="pageLink" th:href="@{/(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </li>
    </th:block>
    <li th:if="${page.hasNext()}">
        <a class="pageLink" th:href="@{/(page=${page.number+1},size=${page.size})}">Next</a>
    </li>
    </ul>
</div>


       

        <hr>
        <div th:replace="fragments :: footer"></div>
    	</div>
</body>
</html>