<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<head th:replace="fragments :: head(title='Online Shop')"></head>


<body>
	<div th:replace="fragments :: navbar"></div>
	
	<div class="container">
        <div class="row text-center">
             <img th:src="@{'/images/'+${productById.name}+'.jpg'}" height="300" width="300"/>
             <div class="caption">
             <h3 th:text="${productById.name}"></h3>
              <p th:text="${productById.price}+ ' EUR / One Pair'"></p>
              <p>Every product is original , no copy excelent shoes for good price </p>
              <a href="#" class="btn btn-primary" th:href="@{'/cart/add/' + ${productById.id}}  ">Add Product To Cart</a>
                
            </div>
        </div>
        </div>
        <hr>
        
	
	
    <div th:replace="fragments :: footer"></div>
</body>
</html>