<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<head th:replace="fragments :: head(title='Online Shop')"></head>


<body>
<div th:replace="fragments :: navbar"></div>
<div class="container">
        <hr>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature" th:each="product : ${oneproduct}">
                <div class="thumbnail">
                    <img th:src="@{'/images/'+${product.name}+'.jpg'}" height="90" width="90"/>
                    <div class="caption">
                        <h3 th:text="${product.name}"></h3>
                        <p th:text="${product.price}+ ' EUR / One Pair'"></p>
                        <div sec:authorize="isAuthenticated()">
   <a href="#" class="btn btn-primary" th:href="@{'/cart/add/' + ${product.id}}  ">Add Product To Cart</a>
       <a href="#" class="btn btn-default" th:href="@{/productDetail(product_id=${product.id})}">More Info</a>
   
   
             </div>
             </div>
                </div>
                </div>
				</div>
				</div>

        <div th:replace="fragments :: footer"></div>
    	
</body>
</html>